<div class="row">
  <h1 class="text-left">Doações</h1>
  <br>
  <div class="large-12 medium-2 columns">
    <h3 class="subheader text-center">
      Sistema de gerenciamento de doações para a disciplina de
      <br>
      Empreendedorismo do curso de Engenharia de Software da UFRN
    </h3>

    <%= simple_form_for :institution, :url => user_registration_path do |f| %>
      <div class="small-6 large-centered columns">
        <div class="row collapse">

          <%= f.email_field :email, :name => "user[email]", :type => "email", label: false, placeholder: "Email" %>
          <%= f.password_field :password, :name => "user[password]", label: false, placeholder: "Senha" %>
          <%= f.password_field :password_confirmation, :name => "user[password_confirmation]", label: false, placeholder: "Confirmação da Senha" %>
          <%= f.submit 'Join Us', class: "button postfix" %>
        </div>
      </div>

    <% end %>
    <form>

    </form>
  </div>
</div>