<%= simple_form_for(@donation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :item, collection: @items,  label_method: :first, value_method: :last, input_html: { class: 'chosen-select',  data: { placeholder: "Selecione uma item" } } %>


    <%= f.input :quantity %>
    <%= f.input :date %>
    <%= f.input :value %>
    <%= f.association :institution %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
