<h2>Minhas Doações</h2>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantidade</th>
      <th>Valor Financeiro</th>
      <th>Data</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%=donation.item%></td>
        <td><%=donation.quantity%></td>
        <td><%=donation.value%></td>
        <td><%=donation.date%></td>
        <td><%= link_to 'Detalhes', donation %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Donation', new_donation_path %>
