<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doações</title>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'vendor/modernizr', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Doações", root_url %></h1>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#"><span>Menu</span></a>
        </li>
      </ul>
      <section class="top-bar-section"> <!-- Right Nav Section -->
        <ul class="left">
          <li><%= link_to "Minhas Doações", donations_path %></li>

          <li class="has-form">
            <form method="GET" action="<%= institutions_path %>">
              <div class="row collapse">
                <div class="large-8 small-9 columns">
                  <%= text_field_tag :name, params[:name], :placeholder => 'Instituições...' %>
                </div>
                <div class="large-4 small-3 columns">
                  <%= submit_tag "Buscar", :class => 'info button expand', :name => nil %>
                </div>
              </div>
            </form>
          </li>
          <li><%= link_to "Todas as Instituições", institutions_path %></li>
        </ul>
        <ul class="right">
          <li class="has-dropdown">
            <a href="javascript:;">Sessão <%= "(" + current_user.email + ")" if user_signed_in? %></a>
            <ul class="dropdown">
              <% if user_signed_in? %>
                <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
              <% else %>
                <li><%= link_to "Entrar", new_user_session_path %></li>
                <li><%= link_to "Criar Conta", new_user_registration_path %></li>
              <% end %>
            </ul>
          </li>
        </ul> <!-- Left Nav Section -->
      </section>
    </nav>
    <div class= "row">
      <div class="small-12 columns">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>

  </body>
</html>
